<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sam Sherar</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrap">
		<div class="colour-bar"></div>
		<div class="container-narrow">
			<div class="page-header masthead">
				<ul class="nav nav-pills pull-right">
					<li><a href="blog/">Blog</a></li>
					<li><a href="http://www.github.com/ssherar">Github</a></li>
					<li><a href="http://www.twitter.com/samsherar">Twitter</a></li>
					<li><a href="http://www.linkedin.com/pub/sam-sherar/37/16a/979/">LinkedIn</a></li>
				</ul>
				<h1>Sam Sherar</h1>
			</div>
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#home">About me</a></h4>
					</div>
					<div id="home" class="accordion-body collapse in">
						<div class="accordion-inner">
							<p>Welcome to SamSherar.co.uk: the portfolio and online hub of Sam Sherar - a second year Undergrad studying MEng Software Engineering at Aberystwyth University. Computing has been a passion of mine since I was a little nipper playing educational games on Windows 3.1 and my thirst hasn't stopped since!</p>
							<p> My main interests are mainly software side: programming problems and bugs have always facinated me! From websites not displaying correctly, to reducing database sizes, it has always been a great way to challenge myself.</p>
							<p>Some of the programming languages I currently know are:</p>
							<ul>
								<li>C</li>
								<li>PHP/MySQL</li>
								<li>xHTML/HTML5/CSS</li>
								<li>Java</li>
								<li>Perl</li>
								<li>Haskell</li>
								<li>C#/VB.NET</li>
							</ul>
							<p> To see more about my skills, please look on my <a data-toggle="collapse" data-target="#resume" href="#resume" rel="internal">Resume</a></p>
							<br />
							<p> If you would like to know anything else, please feel free to <a data-toggle="collapse" data-targe="#contact" href="#ontact" rel="internal">contact me</a> and have a look at my <a data-toggle="collapse" data-target="#portfolio" href="#portfolio" rel="internal">portfolio</a>.</p>
							<p> Bye for now </p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#portfolio">Portfolio</a></h4>
					</div>
					<div id="portfolio" class="accordion-body collapse">
						<div class="accordion-inner">
							Coming soon
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#resume">Resume</a></h4>
					</div>
					<div id="resume" class="accordion-body collapse">
						<div class="accordion-inner">
							<h3> Skills </h3>
							<ul class="skills">
								<li><h5>(x)HTML/CSS</h5>
									<p>I have been programming different flavours of HTML and CSS for nearly 10 years now. In that time I have developed both sites for friends and family, as well as a short stint working as a freelancer for several international webhosting companies. I also specialise in creating websites which can be both displayed with or without Javascript (have a look, turn off javascript!).</p>
								</li>
								<li><h5>PHP/MySQL</h5>
								<p>I first started using PHP in 2005 when I wanted to develop dynamic pages and this quickly sparked up my curiousity! Soon enough I had developed my own Content Management System called MoltenCMS, several plugins for IP.Board and several projects using the CakePHP framework. A current project is to create a lightweight IRC bot.</p>
								</li>
								<li><h5>C#/VB.NET</h5>
								<p>I learnt VB.NET while studying at Exeter College and developed several tools for my own personal use. However I have now moved from VB.NET to C#.</p>
								</li>
								<li><h5>Javascript</h5>
								<p>I am relatively new to Javascript, but can already see the power behind of it. I am now developing plugins using the jQuery framework, including the horizontal accordion used on this site.</p>
								</li>
								<li><h5>System Administration</h5>
								<p>I am confident on the Command line - both under DOS and UNIX. I also use both Batch and Bash scripts to automate certain actions</p>
								</li>
								<li><h5>Vesion Control</h5>
								<p>I have had experience using SVN and also Git for both personal and group projects.</p>
								</li>
								<br />
							</ul>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#contact">Contact</a></h4>
					</div>
					<div id="contact" class="accordion-body collapse">
						<div class="accordion-inner">
							<form class="form-horizontal">
								<fieldset>
									<div class="control-group">
										<label class="control-label" for="name">Name </label>
										<div class="controls">
											<input class="input-xlarge" type="text" id="name" placeholder="Joe Bloggs">
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="name">Email </label>
										<div class="controls">
											<input class="input-xlarge" type="text" id="email" placeholder="joe@bloggs.net">
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="name">Message </label>
										<div class="controls">
											<textarea class="input-xlarge" rows="10"></textarea>
										</div>
									</div>

									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn">Send</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div>
	</div>
	<div id="footer">
		<div class="container-narrow">
			<h5 class="pull-right">Made with <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a> and <a href="http://www.github.com/mojombo/jekyll">Jekyll</a> | Sam Sherar.co.uk</h5>
		</div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
	</body>
</html>
